        .bar {
            fill: steelblue;
        }

        .axis text {
            font: 10px sans-serif;
        }

        path { 
            stroke: steelblue;
            stroke-width: 2;
            fill: none;
        }

        .axis path,
        .axis line {
            fill: none;
            stroke: grey;
            stroke-width: 1;
            shape-rendering: crispEdges;
        }

        .svg-container {
            display: inline-block;
            position: relative;
            width: 100%;
            padding-bottom: 100%; /* aspect ratio */
            vertical-align: top;
            overflow: hidden;
        }
        .svg-content-responsive {
            display: inline-block;
            position: absolute;
            top: 10px;
            left: 0;
        }


        .dot {
          stroke: #000;
        }
        
        #barspeseregioni rect {
            fill: red;
        }

        #barspeseregioni text {
           fill: white;
           font: 10px sans-serif;
           text-anchor: end;
        }

